*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    background:#f4f4f4;

}



/* หน้าเลือก */

.cards{

    display:flex;

    gap:40px;

}


.choose-card{

    width:220px;

    cursor:pointer;

    transition:.3s;

}


.choose-card:hover{

    transform:scale(1.08);

}



/* หน้าผลลัพธ์ */

#result{

    display:none;

    justify-content:center;

    align-items:center;

    gap:50px;

}



#characterCard,
#textCard{

    width:320px;

    max-height:600px;

    object-fit:contain;

}