.cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:100px;

}

.choose-card{

width:180px;

height:280px;

background:#ddd;

border-radius:20px;

cursor:pointer;

transition:.4s;

}

.choose-card:hover{

transform:scale(1.08);

}

#result{

display:none;

margin-top:80px;

text-align:center;

}